<div class="w-100 user-chat mt-4 mt-sm-0" id="dispaly_chat">
    <div class="p-3 px-lg-4 user-chat-border">
        <div class="row">
            <div class="col-md-4 col-6">
                <h5 class="font-size-15 mb-1 text-truncate" id="current_client_name">Agus Mardheka</h5>
                <p class="text-muted text-truncate mb-0" style="margin-bottom: 2px !important;">General
                    (#04971E1815)</p>
            </div>
        </div>
    </div>

    <div class="px-lg-2">
        <div class="chat-conversation p-3">
            <ul class="list-unstyled mb-0 pr-3" data-simplebar="init" style="max-height: 400px;">
                <div class="simplebar-wrapper" style="margin: 0px -16px 0px 0px;">
                    <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" style="height: 400px; overflow: hidden;">
                                <div class="simplebar-content"
                                    style="padding: 0px 16px 0px 0px;min-height:400px;overflow-y:auto"
                                    id="private_chat">
                                    <li>
                                        <div class="conversation-list">
                                            <div class="chat-avatar">
                                                <img src="assets/images/users/avatar-2.jpg" alt="">
                                            </div>
                                            <div class="ctext-wrap">
                                                <div class="conversation-name">Frank Vickery</div>
                                                <div class="ctext-wrap-content">
                                                    <p class="mb-0">
                                                        Hey! I am available
                                                    </p>
                                                </div>
                                                <p class="chat-time mb-0"><i
                                                        class="mdi mdi-clock-outline align-middle mr-1"></i> 12:09
                                                </p>
                                            </div>

                                        </div>
                                    </li>

                                    <li class="right">
                                        <div class="conversation-list">
                                            <div class="ctext-wrap">
                                                <div class="conversation-name">Ricky Clark</div>
                                                <div class="ctext-wrap-content">
                                                    <p class="mb-0">
                                                        Hi, How are you? What about our next meeting?
                                                    </p>
                                                </div>

                                                <p class="chat-time mb-0"><i
                                                        class="bx bx-time-five align-middle mr-1"></i> 10:02</p>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simplebar-placeholder" style="width: auto; height: 222px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                    </div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                    </div>
                </div>
            </ul>
        </div>

    </div>
    <div class="px-lg-3">
        <div class="p-3 chat-input-section">
            <div class="row">
                <div class="col">
                    <div class="position-relative">
                        <input type="text" class="form-control chat-input" placeholder="Enter Message...">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light"><span
                            class="d-none d-sm-inline-block mr-2">Send</span> <i class="mdi mdi-send"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
