<div class="w-100 user-chat mt-4 mt-sm-0" id="history_chat_log">
    <div class="p-3 px-lg-4 user-chat-border">
        <div class="row">
            <div class="col-md-4 col-6">
                <h5 class="font-size-15 mb-1 text-truncate" id="current_client_name"></h5>
                <p class="text-muted text-truncate mb-0" style="margin-bottom: 2px !important;"></p>
            </div>
        </div>
    </div>

    <div class="px-lg-2">
        <div class="chat-conversation p-3">
            <ul class="list-unstyled mb-0 pr-3" data-simplebar="init" style="max-height: 440px;">
                <div class="simplebar-wrapper" style="margin: 0px -16px 0px 0px;">
                    <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" style="height: 440px; overflow: hidden;">
                                <div class="simplebar-content"
                                    style="padding: 0px 16px 0px 0px;min-height:440px;overflow-y:auto"
                                    id="private_chat">
                                    <li class="d-flex justify-content-center py-17">
                                        <div class="conversation-list">
                                            <div class="ctext-wrap">
                                                <div class="ctext-wrap-content">
                                                    <p class="mb-0">
                                                        Hai! start answering your client's questions
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simplebar-placeholder" style="width: auto; height: 222px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                    </div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                    </div>
                </div>
            </ul>
        </div>

    </div>
    <div class="chat-input-section" style="display: none;">
        <button class="btn btn-outline-light btn-block btn-lg text-tangerin font-weight-bold">
            Close
        </button>
    </div>
</div>
