APP_NAME=ChatVolution
APP_ENV=local
# APP_KEY is used for encrypt/decrypt data
APP_KEY=base64:c5pKBz/74PaSnGcoBSJuOB9bdWr0sz3ZKzmu+KvVerE=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=chatvolu_db
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=faizadie30.kerja@gmail.com
MAIL_PASSWORD=obdwbgjcxjodpdjk
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=support@chatvolution.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CAPTCHA_SITE_KEY=6LeQHp8dAAAAAGfc0StW9QNi4a0Lt6GCH8Vv9GAY
CAPTCHA_SECRET_KEY=6LeQHp8dAAAAACsTMrWm_RrE2HKHWs3Hj-W4EH2C

WHMCS_URL="https://proto.qwords.com/includes/api.php"
ACTIVITY_LOG=enable

BASE_URL="http://localhost:8000"
BASE_URL_LIVE="http://localhost:8000"
BASE_SOCKET="http://localhost:4000/agents"
BASE_SOCKET_V2="http://localhost:4001"
BASE_SOCKET_IRSFA="http://localhost:3333"
# Ini link menu chat dengan client v2
BASE_LIVECHAT_V2="http://localhost:3000"
SECRET_URL_API="http://localhost:5001"

FIREBASE_SERVER_KEY="AAAAmeMfUpc:APA91bH4FdOXQBNlVIEqRN4dfB09h31kFnbfIjM1CsoPDzjR3DvzISueHKY47kEUiLrUMHlOHPazWAHABRdMq-tNtcL7aC1SwqmV7vM3OkVVc1UQUy0TI8Sp8GX7QknKxbL_tP5q_NXF"
FCM_API_KEY="AIzaSyCHkz2QMORYsL9U7jtRTo1rhdTemK_F0KU"
FCM_AUTH_DOMAIN="chatvolu-dev.firebaseapp.com"
FCM_PROJECT_ID="chatvolu-dev"
FCM_STORAGE_BUCKET="chatvolu-dev.appspot.com"
FCM_MESSAGING_SENDER_ID="660940477079"
FCM_APP_ID="1:660940477079:web:787a78711aabf115158fd2"
FCM_MEASURMENT_ID="G-X78WE8FLJ7"

API_RATE_LIMIT_INTERNAL_CHAT_BY_IP=100
API_RATE_LIMIT_INTERNAL_CHAT_BY_USER=100

TELESCOPE_ENABLED=false

MEETING_BASE_URL="https://meet.jit.si"

WHATSAPP_ME_BASE_URL="https://wa.me/"
TELEGRAM_ME_BASE_URL="https://t.me/"

API_CLIENT_AREA_URL="https://clientarea.chatvolution.com"
