REACT_APP_LIVE_ENDPOINT=http://localhost:3004
REACT_APP_LIVE_ENDPOINT_V1=http://localhost:8000
REACT_APP_FAKER_ENDPOINT=http://localhost:3004
REACT_APP_LOCAL_ENDPOINT=http://localhost:3004
REACT_APP_SERVICE_WEB_SOCKET=http://localhost:4001
REACT_APP_DEV=TRUE

PORT=3010

<!-- note from @faiz.adie -->
<!-- if use env in reactjs, please use front name REACT_APP as prefix!!! -->
<!-- if env not reset, clean chace your package manager! -->
<!-- use env? read my code in directory services! -->
